@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div class="container" style="margin-top:8vh;">
    <h3 class="mb-5">Customer Policy</h3>
    <div class="flex-column flex-column w-100 mx-auto">
        <details class="mb-3">
              <summary>1.    Reservation and Rental Requirements </summary>
            <p>Renter must be at least 18 years old and have a valid driver's license or citizenship document to rent a vehicle. Reservations can be made online or by phone.</p>
        </details>
        <details class="mb-3">
              <summary>2.    Rental Agreement:</summary>
            <p>Customers must sign a rental agreement before taking possession of the vehicle. The agreement includes details such as the rental period, daily rate, and any additional charges.</p>
        </details>
        <details class="mb-3">
              <summary>3.    Payment Policies:</summary>
            <p>Customers must provide a credit card for payment and will be charged for the rental period at the time of pick-up. Additional charges, such as fuel or late fees, will be charged at the end of the rental period.</p>
        </details>
        <details class="mb-3">
              <summary>4.    Cancellation Policy:</summary>
            <p>Reservations can be canceled up to 24 hours before the pick-up time without penalty. Late cancellations or no-shows may result in a cancellation fee.</p>
        </details>
        <details class="mb-3">
              <summary>5.    Vehicle Return:</summary>
            <p>Vehicles must be returned to the rental location at the agreed-upon time and in the same condition as when rented. Late returns may result in additional fees.</p>
        </details>
        <details class="mb-3">
              <summary>6.    Damage and Loss:</summary>
            <p>Customers are responsible for any damage or loss to the vehicle during the rental period. Additional insurance coverage may be purchased to minimize the customer's liability.</p>
        </details>
        <details class="mb-3">
              <summary>7.    Prohibited Use:</summary>
            <p>Vehicles may not be used for illegal activities or off-road driving. Smoking and pets are also prohibited in rental vehicles.</p>
        </details>
        <details class="mb-3">
              <summary>8.    Customer Service:</summary>
            <p>The rental company provides customer service and support throughout the rental period. Customers can contact the rental company with any questions or concerns.</p>
        </details>
        <details class="mb-3">
              <summary>9.    Insurance Coverage:</summary>
            <p>The rental company provides basic insurance coverage for the vehicle, but additional coverage can be purchased to further reduce the customer's liability.</p>
        </details>
    </div>
    
</div>
